DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/user_management
DEBUG=false
SECRET_KEY=ad022ff60f2481b882990b529985546fe6d57e2af47391aa2ea18fcc6f656350
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
